In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/student_data.csv")

In [ ]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [ ]:
# Store the 'Passed' feature in a new variable and remove it from the dataset
outcomes = df['passed']
data = df.drop('passed', axis = 1)

# Show the new dataset with 'Survived' removed
display(data.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4

In [ ]:
len(data)

395

In [ ]:
data = data.dropna()

In [ ]:
len(data)

395

In [ ]:
data = data.apply(lambda col: pd.factorize(col, sort=True)[0])
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,0,0,3,1,0,0,4,4,0,4,...,1,0,0,3,2,3,0,0,2,6
1,0,0,2,1,0,1,1,1,0,2,...,1,1,0,4,2,2,0,0,2,4
2,0,0,0,1,1,1,1,1,0,2,...,1,1,0,3,2,1,1,2,2,10
3,0,0,0,1,0,1,4,2,1,3,...,1,1,1,2,1,1,0,0,4,2
4,0,0,1,1,0,1,3,3,2,2,...,1,0,0,3,2,1,0,1,4,4

In [ ]:
import numpy as np

from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()

scaler.fit(data)
scaled = scaler.transform(data)
train = pd.DataFrame(scaled, columns=data.columns)
train.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,0.0,0.0,0.428571,1.0,0.0,0.0,1.00,1.00,0.00,1.00,...,1.0,0.0,0.0,0.75,0.50,0.75,0.00,0.00,0.5,0.181818
1,0.0,0.0,0.285714,1.0,0.0,1.0,0.25,0.25,0.00,0.50,...,1.0,1.0,0.0,1.00,0.50,0.50,0.00,0.00,0.5,0.121212
2,0.0,0.0,0.000000,1.0,1.0,1.0,0.25,0.25,0.00,0.50,...,1.0,1.0,0.0,0.75,0.50,0.25,0.25,0.50,0.5,0.303030
3,0.0,0.0,0.000000,1.0,0.0,1.0,1.00,0.50,0.25,0.75,...,1.0,1.0,1.0,0.50,0.25,0.25,0.00,0.00,1.0,0.060606
4,0.0,0.0,0.142857,1.0,0.0,1.0,0.75,0.75,0.50,0.50,...,1.0,0.0,0.0,0.75,0.50,0.25,0.00,0.25,1.0,0.121212

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, outcomes, test_size=0.2,shuffle=False)
print(y_train)

0       no
1       no
2      yes
3      yes
4      yes
      ...
311    yes
312    yes
313    yes
314    yes
315    yes
Name: passed, Length: 316, dtype: object

In [ ]:
from sklearn.tree import DecisionTreeClassifier
# TODO: Define the classifier, and fit it to the data
model = DecisionTreeClassifier(max_depth=7 ,min_samples_leaf=6 ,min_samples_split=4)
model.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=7, min_samples_leaf=6, min_samples_split=4)

In [ ]:
x=model.predict(X_train)

In [ ]:
# print(x)

In [ ]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('DecisionTree training accuracy is', train_accuracy)
print('DecisionTree test accuracy is', test_accuracy)

DecisionTree training accuracy is 0.8417721518987342
DecisionTree test accuracy is 0.4810126582278481

In [ ]:
from sklearn import svm
# TODO: Define the classifier, and fit it to the data
model = svm.SVC(kernel='poly')
model.fit(X_train, y_train)

SVC(kernel='poly')

In [ ]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('SVC training accuracy is', train_accuracy)
print('SVC test accuracy is', test_accuracy)

SVC training accuracy is 0.9240506329113924
SVC test accuracy is 0.620253164556962

In [ ]:
# Import the classifier from sklearn
from sklearn.ensemble import RandomForestClassifier
# TODO: Define the classifier, and fit it to the data
model = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=0)
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [ ]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('RandomForest training accuracy is', train_accuracy)
print('RandomForest test accuracy is', test_accuracy)

RandomForest training accuracy is 0.7246835443037974
RandomForest test accuracy is 0.6329113924050633

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial')
model.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial', random_state=0)

In [ ]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('LogisticRegression training accuracy is', train_accuracy)
print('LogisticRegresson test accuracy is', test_accuracy)

LogisticRegression training accuracy is 0.7246835443037974
LogisticRegresson test accuracy is 0.6329113924050633

In [ ]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train, y_train)
clfaccuracy = clf.predict(X_train)

In [ ]:
# Making predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Calculate the accuracy
from sklearn.metrics import accuracy_score
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)
print('GaussianNB training accuracy is', train_accuracy)
print('GaussianNB test accuracy is', test_accuracy)

GaussianNB training accuracy is 0.7373417721518988
GaussianNB test accuracy is 0.7088607594936709